<% if @comments.size > 0 %>
  <h2><%= t('comments.title') %></h2>

  <ul>
  <% for comment in @comments %>
    <li>
      <%= image_tag comment.author.avatar.url(:very_small), :class => 'comment_picture' %>
      <p><%= comment.content %></p>

      <p><%= comment.author.display_name %>, <%= t('date_created') %> <%= l comment.created_at, :format => :long %></p>
      <span id='<%= "#{comment._id}_votes"%>' ><%= votes comment %></span>
        
      <div>
        <%= button_to t("button.like"), article_comment_like_path(@article, comment), 
              :method => :put, :remote => true, :form_class => 'vote_button' %>
        <%= button_to t("button.dislike"), article_comment_dislike_path(@article, comment), 
              :method => :put, :remote => true, :form_class => 'vote_button' %>
      </div>

      <div class="clearfix" />
    </li>
  <% end %>
  </ul>

  <div>
    <%= paginate @comments, :window => 2, :params => { :controller => 'articles', :action => 'show', :id => @article._id }, remote: true %>
  </div>
<% end %>
