<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :province_id %><br />
<%= f.collection_select :province_id, Province.all_visible(current_user), :id, :name, { :include_blank => true } %>
</div>
<div class="field">
<%= f.label :tag_ids %><br />
<%= f.collection_select :tag_ids, Tag.all_visible(current_user), :id, :name, {}, :multiple => true, :size => 6 %>
</div>

<% if fields_to_render.include? :content %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
<% end %>

<div class="field">
  <%= f.label :active %><br />
  <%= f.check_box :active %>
</div>

<% if fields_to_render.include? :author %>
  <%= f.label :author_id %><br />
  <%= f.collection_select(:author_id, @authors, :id, :display_name, { :include_blank => true })%>
<% end %>

<% if fields_to_render.include? :start_date %>
  <%= label :article, :start_date %><br />
  <%= date_select :query, :start_date, :include_blank => true %>
<% end %>

<% if fields_to_render.include? :end_date %>
  <%= label :article, :end_date %><br />
  <%= date_select :query, :end_date, :include_blank => true %>
<% end %>
