<table>
  <thead>
    <tr>
      <th><%= t('articles.title') %></th>
      <th><%= t('articles.created_at') %></th>
      <th><%= t('articles.province') %></th>
      <th><%= t('articles.author') %></th>
      <th><%= t('articles.liking') %></th>
      <th><%= t('articles.disliking') %></th>
      <th><%= t('articles.following') %></th>
    </tr>
  </thead>

  <tbody>
<% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td><%= l article.created_at, :format => :default %></td>
      <td><%= article.province.name %></td>
      <td><%= link_to article.author_name, article.author %></td>
      <td><%= article.liking_count %></td>
      <td><%= article.disliking_count %></td>
      <td><%= article.following_count %></td>
    </tr>
<% end %>
  </tbody>
</table>

