<h1><%= t('articles.search', :default => "Search for articles") %></h1>

<%= form_for :article, :url => { :action => :search }, :method => :get do |f| %>
  <%= render :partial => 'fields', locals: { :f => f, :fields_to_render => [ :author, :end_date, :start_date ] } %>

  <div class="actions">
    <%= f.submit t(:search, :default => 'Search') %>
  </div>
<% end %>

<%= render 'list' %>

<%= paginate @articles, :keep_url => true, :window => 2 %>

