<p id="notice"><%= notice %></p>

<%= render '/shared/error' %>

<section id="article">
  <h1><%= @article.title %></h1>
  
  <pre id="article_body"><%= content @article %></pre>
  
  <hr />

  <div id="additional_details">
    <span>
      <b><%= t('.author') %></b>: 
      <%= link_to @article.author_name, user_path(@article.author) %>, 
      <b><%= t('date_created') %></b> <%= l @article.created_at, :format => :long %>
    </span>
    <span>
      <b><%= t 'provinces.title' %>:</b>
      <%= @article.province.name %>
    </span>
    <span>
    <b><%= t 'tags.title' %>:</b>
    <%= @article.tags.collect(&:name).join(', ') %>
    </span>
  
    <div class="clearfix"></div>
  </div>
  
  <div id="votes">
    <%= votes @article %>
  </div>
  
  <div id="opinion_buttons">
    <%= button_to t("button.like"), { :action => "like" }, :method => :put, :remote => true, :form_class => 'vote_button' %>
    <%= button_to t("button.dislike"), { :action => "dislike" }, :method => :put, :remote => true, :form_class => 'vote_button' %>
  
    <div id="follow_buttons" class="follow_button">
      <%= follow_buttons @article %>
    </div>

    <div class="google_like">
<g:plusone annotation="inline"></g:plusone>

<script type="text/javascript">
  window.___gcfg = {lang: 'bg'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
    </div>

    <div class="clearfix"></div>
  </div>
</section>

<%= link_to_edit @article %>

<% if user_signed_in? %>
<section>
  <h2><%= t 'comments.title' %></h2>
  <%= form_for [@article, Comment.new], :remote => true do |f| %>
    <%= image_tag current_user.avatar.url(:very_small), :class => 'comment_picture' %>
    <%= f.text_area :content, :rows => 3, :class => 'comment_content', :placeholder => t('comments.add_comment'), :id => 'comment_content' %>
    <div class="comment_create"><%= f.submit %></div>
  <% end %>
</section>
<% else %>
  <h4><%= t 'loggin_to_add_comments' %></h4>
<% end %>

<span id="comments">
  <%= render 'comments' %>
</span>
