<p id="notice"><%= notice %></p>

<%= render '/shared/error' %>

<p>
  <b><%= t 'title' %>:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b><%= t 'province.title' %>:</b>
  <%= @article.province.name %>
</p>

<p>
  <b><%= t 'tags.title' %>:</b>
  <%= @article.tags.collect(&:name).join(', ') %>
</p>

<p>
 <%= t('author') %>: <%= @article.author_name %>, <%= t('date_created') %> <%= l @article.created_at, :format => :long %>
</p>

<p id="votes">
  <%= votes @article %>
</p>

<%= button_to t("button.like"), { :action => "like" }, :method => :put, :remote => true, :form_class => 'vote_button' %>
<%= button_to t("button.dislike"), { :action => "dislike" }, :method => :put, :remote => true, :form_class => 'vote_button' %>

<span id="follow_buttons">
  <%= follow_buttons %>
</span>

<% if can_edit @article %>
  <%= link_to t('edit'), edit_article_path(@article) %> |
<% end %>

<%= link_to t('back'), articles_path %>

<% if user_signed_in? %>
<section>
  <h2><%= t 'comments.title' %></h2>
  <%= form_for [@article, Comment.new], :remote => true do |f| %>
    <%= image_tag current_user.avatar.url(:very_small), :class => 'comment_picture' %>
    <%= f.text_area :content, :rows => 3, :class => 'comment_content', :title => t('comments.add_comment'), :id => 'comment_content' %>
    <div class="comment_create"><%= f.submit %></div>
  <% end %>
</section>
<% else %>
  <h4><%= t 'loggin_to_add_comments' %></h4>
<% end %>

<span id="comments">
  <%= render 'comments' %>
</span>
