<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th><%= t '.display_name' %></th>
      <th><%= t '.email' %></th>
      <th><%= t '.following' %></th>
    </tr>
  </thead>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.display_name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.following_count %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @users, :window => 2 %>
