<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:small) %>
</p

<p>
  <span class="bold"><%= t('display_name')%>:</span>
  <%= @user.display_name %>
</p>

<p>
  <span class="bold"><%= t('email')%>:</span>
  <%= @user.email %>
</p>

<p>
  <span class="bold"><%= t('articles.count')%>:</span>
  <%= @user.articles.count %>
</p>

<p id="user_votes">
  <%= votes @user %>
</p>

<span id="follow_buttons">
  <%= follow_buttons @user %>
</span>

<% if @user.editable_by?(current_user) %>
  <%= link_to t('Edit'), edit_user_path(@user) %> |
  <%= link_to t('messages.destroy'), @user, confirm: t('messages.confirm.delete'), method: :delete %>
<% end %>
