<h1><%= t('tags.listing') %></h1>

<%= render '/shared/error' %>

<table>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t 'messages.destroy' %></th>
    </tr>
  </thead>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag %></td>
    <td><%= link_to t('messages.destroy'), tag, confirm: t('messages.confirm.delete'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @tags, :window => 2 %>

<%= link_to t('tags.new'), new_tag_path %>
