<p id="notice"><%= notice %></p>

<p>
  <b><%= t('messages.name') %>:</b>
  <%= @tag.key %>
</p>

<% if user_signed_in? and current_user.try(:admin?) %>
  <%= link_to t('messages.edit'), edit_tag_path(@tag) %> |
  <%= link_to t('messages.destroy'), @tag, confirm: t('messages.confirm.delete'), method: :delete %>
<% end %>
