<h1><%= t 'provinces.listing' %></h1>

<% if flash[:error] %>
<div id="error_explanation">
  <ul>
    <li><%= flash[:error] %></li>
  </ul>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t 'messages.destroy' %></th>
    </tr>
  </thead>

<% @provinces.each do |province| %>
  <tr>
    <td><%= link_to province.name, province %></td>
    <td><%= link_to t('messages.destroy'), province, confirm: t('messages.confirm.delete'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @provinces, :window => 2 %>

<%= link_to t('provinces.new'), new_province_path %>
